<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/compose.css">
</head>

<body>
    <%- include('navbar') -%>
    <div class="container">
    <h1>About me</h1>
    <br>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et totam maxime numquam inventore, fuga cupiditate
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero ullam qui nihil quis est quidem, distinctio
        aliquid reiciendis pariatur, incidunt eos commodi quae totam quos nisi.
        quisquam nobis corrupti provident doloribus id laborum sed impedit perspiciatis voluptate ut at facere cum?</p>
    </div>
</body>

</html>