<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    <nav class="navbar">
        <ul class="left">
             <li>DAILY JOURNAL</li>
        </ul>
        <ul class="right">  
            <a href="/"> <li>Home</li></a> 
            <a href="/about"><li>About</li></a>
            <a href="/contact"><li>Contact</li></a>
            <a href="/compose"><li>Compose</li></a>
        </ul>
    </nav>
</body>
</html>